/* Small screens */
@media screen and (max-width: 600px) {
  .navbar {
    display: none; } }
/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-width: 1024px) {
  .parallax {
    background-attachment: scroll; } }
@media screen and (max-width: 800px) {
  .section2 img {
    display: none; } }
body {
  background-color: #9DC183;
  margin: 0;
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: lighter; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

h1, h2 {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 3px #606060; }

h3, h4 {
  font-weight: lighter;
  letter-spacing: 2px;
  text-shadow: 0 0 3px #606060; }

a {
  color: white;
  text-decoration: none; }

a:hover {
  color: #3b813b;
  cursor: pointer; }

i.icon.ion-beer {
  font-size: 90px;
  color: #e7cb2f; }

p {
  letter-spacing: 1px;
  text-shadow: 0 0 3px #606060; }

.logo {
  margin-top: 100px;
  
/* Navigation */
/* Medium Screens */
@media screen and (min-width: 600px) {
  .hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
    padding: 10px; }

  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: white;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }

  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0; } }
#wrapper.scrolled {
  background-color: #9DC183 !important;
  transition: background-color 300ms linear; }

.navbar {
  position: fixed;
  min-width: 100%;
  background-color: transparent; }

.navbar ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-top: 0; }

.navbar li a {
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  color: white;
  letter-spacing: 1px;
  font-size: 0.75em;
  text-decoration: none;
  line-height: 30px;
  text-transform: uppercase; }

/* Large Screens */
@media screen and (min-width: 800px) {
  .navbar ul {
    justify-content: flex-end; }

  .navbar li a {
    font-size: 1rem;
    letter-spacing: 2px;
    margin: 10px 0;
    padding: 10px 0; } }
/* Introduction & Parallax */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75%;
  /* flex-wrap: wrap; */ }

.parallax {
  height: 750px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../images/pitch.jpg");
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover; }

.intro {
  text-align: center; }

@media screen and (min-width: 800px) {
  .intro {
    padding: 0 20%; } }
@media screen and (min-width: 800px) {
  .introSub {
    padding-top: 5%; } }
@media screen and (min-width: 800px) {
  .introPara {
    padding-top: 5%; } }
.section1 {
  height: 100%;
  text-align: center;
  padding: 50px; }

.beer {
  text-shadow: 0 0 5px #606060; }

.section2 {
  background-color: #778899;
  height: 400px; }

.section2 img {
  padding: 0;
  margin: 0;
  float: left; }

.pages {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.pages h2, h1 {
  text-align: center; }

.find {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 0 25px; }

@media screen and (min-width: 1000px) {
  .find {
    height: 400px;
    width: 66.6%;
    float: left; } }
map {
  width: 33.3%;
  margin: 0; }

@media screen and (max-width: 1000px) {
  iframe {
    display: none; } }
.section4 {
  height: 200px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #7C8864;
  display: flex;
  align-items: center; }

.third {
  width: 33.3%; }

.socialIcon {
  margin: 0 25px;
  color: white;
  font-size: 40px; }

@media screen and (min-width: 800px) {
  .socialIcon {
    margin: 0 25px;
    color: white;
    font-size: 60px; } }
.sponsorIcon {
  margin: 0 10px;
  height: 30px; }

@media screen and (min-width: 800px) {
  .sponsorIcon {
    margin: 0 25px;
    height: 55px; } }
.copyright {
  font-size: 0.8em; }

@media screen and (min-width: 800px) {
  .copyright {
    font-size: 1em; } }
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; }

.modal h1 {
  color: #778899;
  text-shadow: none; }

.modal h3 {
  color: #778899;
  text-shadow: none; }

.modal p {
  color: #778899;
  text-shadow: none; }

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #778899;
  width: 60%;
  animation-name: fadein;
  animation-duration: 0.3s; }

@media screen and (max-width: 600px) {
  .modal-content {
    margin: 0;
    width: 100%; } }
@media screen and (min-width: 601px) and (max-width: 1025px) {
  .modal-content {
    margin: 5% auto;
    width: 80%; } }
/* Animation */
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opaciity: 1; } }
/* The Close Button */
.close {
  color: #778899;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #3b813b;
  text-decoration: none;
  cursor: pointer; }

#eventForm {
  display: block;
  justify-content: space-evenly;
  text-align: left;
  background-color: #9DC183;
  padding: 5%;
  margin: 5%;
  border: solid 2px #778899; }

form label {
  color: white;
  margin: 15px 0;
  text-shadow: 0 0 3px #606060; }

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #778899;
  color: black; }

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #778899;
  color: black; }

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #778899;
  color: black; }

input[type=submit] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #778899;
  color: white;
  border: none; }

textarea[name=event] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: black;
  border: 1px solid #778899; }

/*# sourceMappingURL=app.css.map */
